name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
    branches: [main]

jobs:
  deploy:
    name: Deploy to DigitalOcean VM
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Deplpoy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Login to Github Container Registry
            echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            # Pull the latest image
            docker pull ghcr.io/${{ github.repository }}/backend:latest

            # Stoping to remove old container if exists
            docker stop memora-backend || true
            docker rm memora-backend || true

            # Removing old image to save disk space
            docker image prune -f

            # Running new container
            docker run -d \
              --name memora-backend \
              --network memora-network \
              --restart unless-stopped \
              -p 8000:8000 \
              -e QDRANT_URL=http://memora-qdrant:6333 \
              -e DB_HOST=memora-postgres \
              -e DB_PORT=5432 \
              -e DB_USERNAME=${{ secrets.DB_USERNAME }} \
              -e DB_PASS=${{ secrets.DB_PASS }} \
              -e DB_NAME=${{ secrets.DB_NAME }} \
              -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
              -e OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }} \
              -e GROQ_API_KEY=${{ secrets.GROQ_API_KEY }} \
              -e GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }} \
              ghcr.io/${{ github.repository }}/backend:latest

            # Container Status
            docker ps | grep memora-backend || echo "Warning: Container not running"
